body {
    margin: 5%;
}

header h1 {
    background-color: #006400;
    text-align: center;
    color: white;
}
header h2 {
    background-color: #D8F5EB;
    flex: 1;
    color: #006400;
    padding-left: 20px;
}
header h3 {
    background-color: #BFFDE9;
    flex: 1.5;
    border-left: 1px solid #80FAD6;
    color: #006400;
    text-align: right;
    font-style: italic;
    padding-right: 20px;
}
header h1, header h2, header h3 {
    padding: 10px 5px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin: 0;
}
#topic {
    display: flex;
    width: 100%;
    border-block: 3px solid #00FF09;
}

#pages {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}

#pages a {
    background-color: #B6B000;
    padding: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 15%;
    text-align: center;
}

#pages a:link {
    color: white;
    text-decoration: none;
}

#pages a:visited {
    color: #FFE2E7;
    text-decoration: none;
}
#pages a:hover {
    color: #e74c3c; 
    text-decoration: underline;
}

#pages a:active {
    color: #3824F0;
 }

main {
    background-color: #CAC6E9;
}
main p, main ul {
    padding: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
hr {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
}
footer {
    text-align: center;
    background-color: gray;
    color:white;
}

#content {
    display: flex;
}

aside {
   flex: 1;
}
#content main {
    flex: 3.5;
    padding: 10px;
}

img {
    width: 200px;
    height: auto;
}

blockquote {
    font-family: "Georgia", serif; 
    font-style: italic;
    color: #555; 
    padding-left: 20px;
    margin: 20px 0;
    font-size: 1.2em;
    line-height: 1.6;
}

.item {
    display: flex;
    
}

.item img {
    flex: 1;
}
.film .description {
    flex: 2;
}
main h3 {
    text-align: center;
    margin: 10px;
}

#films {
    background-image: url(../images/filmbg.jpg);
    background-repeat: no-repeat;
}

#pictures {
    background-image: url(../images/gallerybg.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
aside nav {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
}

aside nav ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
}
aside nav li a:link, aside nav li a:visited {
    color: #FAEF58;
    text-decoration: none;
}
aside nav ul li {
    padding: 20px 5px;
    text-align: center;
    border-block: 2px dashed black;
}

th, td {
    border: solid black 2px;
}
table {
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    border: dashed black 3px;
    width: 98%;
    margin: 0 auto;
}
th {
    font-style: italic;
    font-weight: normal;
    padding: 10px;
    text-decoration: underline;
}
td {
    padding: 5px;
}
tbody tr:nth-of-type(even) {
    background-color: #39FFD8;
}
tbody tr:nth-of-type(odd) {
    background-color: #4DE6C8;
}
tbody tr:hover {
    background-color: wheat;
    cursor: pointer;
}
thead {
    background-color: #00B692;
}
tr td:first-of-type {
    font-style: italic;
}

figcaption {
    color: #009572;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

ol ul li:hover {
    background-color: wheat;
  }

.traditions ul {
    list-style-type: square; 
}

.traditions {
    list-style-type: upper-roman; 
}

#content img {
    transition: transform 0.3s ease; 
}
  
#content img:hover {
    transform: scale(1.1); 
}

main a:link {
    color: #00059E;
}
main a:visited {
    color: #35365C;
}
main a:hover {
    color: red;
}
main a:active {
    background-color: gray;
}

